<% @page_title = "チケット選択" %>

<h2>チケットの枚数と種別を選択してください</h2>

<table>
  <%= form_tag([@reservation, :step1], method: :post) do %>
    <% Ticket.all.each do |t| %>
      <tr>
        <th><%= t.t_type %></th>
        <td width=200px>
          <%= t.total.to_s(:delimited) %>円:
          <%= number_field_tag "quantity[#{t.id}]", 0, min: 0, max: 99 %>枚
        </td>
      </tr>
    <% end %>
    <%= submit_tag("次へ") %>
  <% end %>
</table>
