<%= render "shared/errors", obj: @schedule %>

<table class="attr">
  <tr>
    <th><%= form.label :theater_id, "店舗名" %></th>
    <td><%= form.select :theater_id, @theaters.map{ |theater| [theater.store_name, @schedule.theater_id = theater.id]} %></td>
  </tr>
  <tr>
    <th><%= form.label :movie_id, "作品名" %></th>
    <td><%= form.select :movie_id, @movies.map{ |movie| [movie.title, @schedule.movie_id = movie.id]} %></td>
  </tr>
  <tr>
    <th><%= form.label :screen_no, "スクリーン" %></th>
    <td><%= form.number_field :screen_no %></td>
  </tr>
  <tr>
    <th><%= form.label :screening_date, "上映日" %></th>
    <td><%= form.date_select :screening_date,
              start_year: Time.current.year, end_year: Time.current.year + 1,
              use_month_numbers: true %></td>
  </tr>
  <tr>
    <th><%= form.label :start_time, "上映開始時間" %></th>
    <td><%= form.time_select :start_time %></td>
  </tr>
  <tr>
    <th><%= form.label :end_time, "上映終了時間" %></th>
    <td><%= form.time_select :end_time %></td>
  </tr>
</table>
