<% @page_title = "上映一覧" %>

<div class="toolbar"><%= link_to "上映追加", :new_admin_schedule %>

<% if @schedules.present? %>
  <table class = "list">
    <thead>
      <tr>
        <th>店舗名</th>
        <th>作品名</th>
        <th>スクリーン</th>
        <th>上映日</th>
        <th>上映開始時間</th>
        <th>上映終了時間</th>
      </tr>
    </thead>
    <tbody>
      <% @schedules.each do |s| %>
        <tr>
          <td><%= s.theater.store_name %></td>
          <td><%= s.movie.title %></td>
          <td><%= s.screen_no %></td>
          <td><%= s.screening_date.strftime("%y/%m/%d") %></td>
          <td><%= s.start_time.strftime("%H:%M") %></td>
          <td><%= s.end_time.strftime("%H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>上映情報がありません。</p>
<% end %>
