<table class="attr">
  <tr>
    <th>ログインID</th>
    <td><%= @member.login_id %></td>
  </tr>
  <tr>
    <th>氏名</th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th>誕生日</th>
    <td><%= @member.birthday %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= @member.tel %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @member.email %></td>
  </tr>
  <tr>
    <th>決済情報</th>
    <td><%= @member.payment %></td>
  </tr>
</table>

<h2>予約履歴</h2>
